<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="appender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n</pattern>
		</encoder>
	</appender>
	
	<logger name="jdbc.connection" level="off" additivity="false">
		<appender-ref ref="appender" />
	</logger>
	<logger name="jdbc.audit" level="off" additivity="false">
		<appender-ref ref="appender" />
	</logger>
	<logger name="jdbc.sqlonly" level="info" additivity="false">
		<appender-ref ref="appender" />
	</logger>
	<logger name="jdbc.sqltiming" level="off" additivity="false">
		<appender-ref ref="appender" />
	</logger>
	<logger name="jdbc.resultset" level="off" additivity="false">
		<appender-ref ref="appender" />
	</logger>
	<logger name="jdbc.resultsettable" level="off" additivity="false">
		<appender-ref ref="appender" />
	</logger>

	<root level="info">
		<appender-ref ref="appender" />
	</root>
</configuration>