@font-face {
 font-family: 'nanumgothic-R';
 font-weight: 400;
 src: url(NanumGothic.otf);
 src: url(NanumGothic.woff) format('woff'),url(NanumGothic.woff2) format('woff2')
}
@font-face {
 font-family: 'nanumgothic-B';
 font-weight: 700;
 src: url(NanumGothicBold.otf);
 src: url(NanumGothicBold.woff) format('woff'),url(NanumGothicBold.woff2) format('woff2')
}
@font-face {
 font-family: 'nanumgothic-EB';
 font-weight: 800;
 src: url(NanumGothicExtraBold.otf);
 src: url(NanumGothicExtraBold.woff) format('woff'),url(NanumGothicExtraBold.woff2) format('woff2')
}
@font-face {
 font-family: 'nanumgothic-L';
 font-weight: 300;
 src: url(NanumGothicLight.otf);
 src: url(NanumGothicLight.woff) format('woff'),url(NanumGothicLight.woff2) format('woff2')
}


@font-face {
 font-family: 'NanumSquare-R';
 font-weight: 400;
 src: url(NanumSquareR.eot);
 src: url(NanumSquareR.eot?#iefix) format('embedded-opentype'),
      url(NanumSquareR.woff) format('woff'),
      url(NanumSquareR.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare-B'; 
 font-weight: 700;
 src: url(NanumSquareB.eot);
 src: url(NanumSquareB.eot?#iefix) format('embedded-opentype'),
      url(NanumSquareB.woff) format('woff'),
      url(NanumSquareB.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare-EB';
 font-weight: 800;
 src: url(NanumSquareEB.eot);
 src: url(NanumSquareEB.eot?#iefix) format('embedded-opentype'),
      url(NanumSquareEB.woff) format('woff'),
      url(NanumSquareEB.ttf) format('truetype');
}