<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dksys.biz.admin.menu.mapper.MenuMapper">

	<select id="selectMenuList" resultType="CamelMap">
		SELECT 
			MENU_ID AS ID,
			MENU_NM AS TEXT,
			UP_MENU_ID AS PARENT,
			MENU_URL AS URL,
			MENU_TYPE,
			'unit' AS TYPE
		FROM 
			CMN_MENU_INFO
	</select>

	<insert id="insertMenu" parameterType="Map">
		INSERT INTO CMN_MENU_INFO
		(
			ROLE_ID, ROLE_NM, ROLE_TYPE, ROLE_SORT, DESCRIPTION, ROLE_MENU, CREATE_ID, CREATE_DT, UPDATE_ID, UPDATE_DT
		)
		VALUES
		(
			#{roleId}, #{roleNm}, #{roleType}, ${roleSort}, #{description}, NULL, #{userId}, SYSDATE(), NULL, NULL
		)
	</insert>

	<delete id="deleteMenu" parameterType="Map">
		DELETE FROM CMN_MENU_INFO
		WHERE MENU_ID = #{menuId}
	</delete>

	<insert id="updateMenu" parameterType="Map">
		INSERT INTO CMN_MENU_INFO
		(
			MENU_ID, MENU_NM, UP_MENU_ID, MENU_URL, MENU_TYPE, CREATE_ID, CREATE_DT
		)
		VALUES(
			#{menuId}, #{menuNm}, #{upMenuId}, #{menuUrl}, #{menuType}, #{userId}, SYSDATE()
		)
		ON DUPLICATE KEY
		UPDATE 
			MENU_ID = #{menuId},
			MENU_NM = #{menuNm},
			UP_MENU_ID = #{upMenuId}, 
			MENU_URL = #{menuUrl},
			MENU_TYPE = #{menuType},
			UPDATE_ID = #{userId}, 
			UPDATE_DT = SYSDATE()
	</insert>

	<select id="selectMenuCount" parameterType="Map" resultType="int">
		SELECT COUNT(*) FROM CMN_MENU_INFO
		WHERE MENU_ID = #{menuId}
	</select>
	
</mapper>