/* 나눔고딕  font-family: 'nanumgothic'; -L / -R / -B / -B */
/* 나눔스퀘어  font-family: 'NanumSquare';  -R / -B / -B */

/*헤더*/
th{
	text-align: center;
}

.popup_table {
	width: 100%;
}

.popup_table .form-control{
    height: 25px;
    padding:5px;
}

.popup_table th,.popup_table td{
	padding:5px;
    font-size: 12px;
}

.popup_table th,
.popup_table td{
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.popup_table th {
    background: #eee;
    font-weight: 600;
    color: #555555;
    padding: 10px 5px;
}

.popup_table th:first-child,
.popup_table td:first-child, 
.modalpopup table tbody th:first-child,
.modalpopup table tbody td:first-child {
    border-left: 1px solid #dbdbdb;
}

.popup_table span.input-group-btn button {
	height: 25px;
	line-height: 15px;
}

.add_btn{
	float: right; padding: 3px;
}

.add_btn a{
    display:inline-block;
    width: 20px; height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #dbdbdb; 
    color: #444;  
    background: #ffffff;
    box-shadow: 1px 1px rgba(0,0,0,0.15);
}
    
.add_btn a:hover {
    border: 1px solid #dbdbdb;
    color: #444;
    background: #dddddd;
    box-shadow: none;
}

/*admin_sub_menu*/

.nav.nav-sidebar.menu li .admin_sub_menu.on{display: block;} 
.admin_sub_menu{display: none; position:relative; top: 0px; left: 0; min-width: 150px; height:auto; width: auto; line-height: 25px; padding: 20px 15px; border-radius:0; background: #ffffff; opacity: 0.95;}


.admin_sub_menu dl dd {line-height: 36px; padding: 0 0 0 20px;}
.admin_sub_menu dl dd a{color: #444444; font-weight: normal; font-size: 14px;}
.admin_sub_menu dl dd a:hover{font-weight: bold;}
dl{margin-bottom: 0 !important;}