/* 나눔고딕  font-family: 'nanumgothic'; -L / -R / -B / -B */
/* 나눔스퀘어  font-family: 'NanumSquare';  -R / -B / -B */

/*메인 html*/
html, body {width:100%; height:100%; margin:0; padding:0;  background: #f6f8fb; }

/*메인*/
#login{position: relative; top: calc(50% - 370px); width: 1200px; height: 740px; border-radius: 30px;  margin: 0 auto; background: url(../img/Login_bg.png) no-repeat 100% 0% #ffffff; box-shadow: 2px 0 7px rgba(0,0,0,0.15);}

/* 로고 */
.logo{width: 290px; height: 55px; margin: 0 auto;}
.logo img{width: 100%; height: 100%;}

/* 로그인 영역 */
.login_box{width: 560px; padding: 140px 95px;}

.login_box h2{color: #384557; font-size: 50px; font-family: 'NanumSquare-B'; margin: 85px 0 10px; }
.login_box ul{margin-top: 5px;}

.login_box ul li+li{margin-top: 20px;}

.login_box input{width: 100%; height: 45px; border: solid 1px #e6e6e6; border-radius: 5px; font-size: 17px; padding: 10px;}

/* 버튼 */
.login_box button{width: 100%; height: 58px; border-radius: 10px; font-size: 25px; padding: 10px; margin-top: 60px; font-family: 'nanumgothic-B'; color: #ffffff; background: #3860f8;  box-shadow: 1px 0 7px rgba(0,0,0,0.1);}

.login_box button:hover{opacity: 0.7;}
.login_box button:active{opacity: 1;}


