/* 나눔고딕  font-family: 'nanumgothic'; -L / -R / -B / -B */
/* 나눔스퀘어  font-family: 'NanumSquare';  -R / -B / -B */

/*메인 공통 설정*/
html, body  {width:100%; height:100%; min-width: 1100px; margin:0; padding:0; min-height: 740px; min-width: 1280px; background: #f6f8fb; overflow: hidden;}

/*메인*/
#main_area{position: absolute; width: calc(100% - 210px);  margin-left: 210px; padding: 20px 20px 0; height: 100%; overflow:hidden;}

/* 메인 상단영역 */
#top_area{position: relative; margin-bottom: 20px;}

.page_tit{font-size: 18px; color: #3860f8; font-family: 'NanumSquare-B'; }
.location{margin-top: 5px; font-size: 14px; color: #999999;}


#top_area .btn_area{position: absolute; right: 0; top: 0; font-size: 16px;}

#top_area .btn_area button+button{ margin-left: 10px;}
.loguot_btn{font-size: 16px; box-shadow:1px 0px 10px rgba(0,0,0,0.1) ;}


/* 검색 */
.contents.search_area{position:absolute; width: calc(100% - 40px); z-index: 1;}

/* 검색 */
.search_contents{width: 100%;/* border-top: solid 1px #f0f0f0;*/}

.search_contents ul.btn_ul li{display:inline-block; vertical-align: middle;}
.search_contents ul.btn_ul li+li{margin-left: 20px;}

.search_contents ul.btn_ul input{width: 100%; }
.search_contents ul.btn_ul select{width: 100%; min-width: 170px; max-width: 200px;}

.search_contents ul.btn_ul li.btn_r{float:right; font-size: 14px;}
.search_contents ul.btn_ul li.btn_l{float:left; }

/* 검색 상세조건 */
.search_contents_bottom{width: 100%; border-top: solid 1px #f0f0f0; padding-top: 15px; margin-top: 15px;}

.search_option{display: none;}
.search_option.open{display: block;}

a.more_btn{display: block; margin: 0 auto; width: 40px; height: 10px; background: url('../img/svg/down-arrow.svg') no-repeat 50% 50%; background-size: 20px 10px;}
a.more_btn:hover{opacity: 0.5;}
.more_btn.on{transform: rotate(180deg);}

/* 콘텐츠 */
.contents{position: relative; width: 100%; min-width: 1100px; min-height: 20px; padding: 20px; border-radius:10px ; background: #ffffff;box-shadow:1px 0px 10px rgba(0,0,0,0.15) ; margin-bottom: 20px;}
.contents.search_area+.contents{margin-top: 200px; height: calc(100% - 200px - 70px);}

/* 콘텐츠 타이틀 */
.contents_tit{position: relative; width: 100%; height: 35px; margin-bottom: 5px;}
.contents_tit h4.tit{font-size: 18px; color: #444444; font-family: 'NanumSquare-B'; display: inline-block;}
.contents_tit .prae_select{float: right; max-width: 100px; min-width: 80px;}

    /* 인풋 테이블 */
    .table_input{}

    .table_input th{text-align: left; color: #888888; font-size: 14px; padding: 5px ; font-family: 'nanumgothic-R';}
    .table_input td{text-align: left; /*padding-bottom: 15px;*/ padding: 3px 5px 10px;}

    .table_input input,.table_input select{width: 40%; min-width: 145px; max-width: 170px;}


    /* 인풋 테이블 2분할 */
    .table_input.type02 tr th:nth-of-type(1),.table_input.type02 tr td:nth-of-type(1)  {width:50%;}
    .table_input.type02 tr th:nth-of-type(2),.table_input.type02 tr td:nth-of-type(2)  {width:49%;}

    /* 인풋 테이블 3분할 */
    .table_input.type03 tr th:nth-of-type(1),.table_input.type03 tr td:nth-of-type(1)  {width:33%;}
    .table_input.type03 tr th:nth-of-type(2),.table_input.type03 tr td:nth-of-type(2)  {width:33%;}
    .table_input.type03 tr th:nth-of-type(3),.table_input.type03 tr td:nth-of-type(3)  {width:33%;}

/* 리스트 */
.list_contents{margin: 10px 0; height: calc(100% - 90px) ; overflow: auto;}
.list_contents table.table_list{border-collapse: collapse; line-height: 1.5;}
/* 리스트 테이블 - 임시 */
table.table_list th,table.table_list td {padding: 5px; border-right: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb;}
table.table_list th:last-child,table.table_list td:last-child { border-right:none; }
table.table_list th{text-align: center; color: #ffffff; background: #ababab; font-size: 13px; font-weight: 400; }
table.table_list td{text-align: left; color: #444444; font-size: 13px;}


/* 달력 간격값 */
.date_input{width: 100%; }
.date_input > input[type="date"]{width: calc(40% - 15px);}
.date_input > span{margin: 0 15px; font-size: 16px; color: #666666;}

/* 하단영역 */
.contents_bottom{width: 100%; border-top: solid 1px #f0f0f0; padding-top: 15px;}

/*페이징*/
.contents.search_area+.contents .page_area{position: absolute; width: 500px; bottom: 15px; left: calc(50% - 250px); }

.page_area{position: relative; text-align: center; }
.page_area ul li{display: inline-block; vertical-align: top;}

.page_area ul li:hover{opacity: 0.7;}
.page_area ul li:active{opacity: 1;}

.page_area ul li.on a{color: #3860f8; font-weight: bold;}
.page_area ul li a{display:block;  width: 35px; height: 35px; line-height: 35px; font-size: 16px; text-align: center; color: #5f6368;}

.i_r-arrow{display: inline-block; background: url("../img/r-arrow.png") no-repeat; background-size:100%;  margin:0; width: 35px; height: 35px;}
.i_l-arrow{display: inline-block; background: url("../img/l-arrow.png") no-repeat; background-size:100%;  margin:0; width: 35px; height: 35px;}


.i_rr-arrow{display: inline-block; background: url("../img/rr-arrow.png") no-repeat; background-size:100%;  margin:0; width: 35px; height: 35px;}
.i_ll-arrow{display: inline-block; background: url("../img/ll-arrow.png") no-repeat; background-size:100%;  margin:0; width: 35px; height: 35px;}


@media screen and (max-width:1280px) { 
    /* body { background-color: lightgreen; }  */
    .contents{min-width: 800px;}
    
    .table_input input,.table_input select{width:95%; min-width: 145px; max-width:170px;}

}