/* 나눔고딕  font-family: 'nanumgothic'; -L / -R / -B / -B */
/* 나눔스퀘어  font-family: 'NanumSquare';  -R / -B / -B */
/* 팝업 */


.popup_area {
    position: relative;
    min-width: 400px;
    max-width: 700px;
    height: auto;
    min-height: 200px;
    max-height: 700px;
    background: #ffffff;
}
/* 테이블 */
.popup_area table {
    width: 100%;
}
.popup_area table select,.popup_area table input{width: 100%; height: 30px; font-size: 13px; padding: 5px;}

.popup_area table th,.popup_area table td {
    padding: 3px 5px;
    font-size: 13px;
    line-height: 1.2;
}

.popup_area table thead{background: #dddddd;}
.popup_area table thead th {
    /* font-family: 'NanumSquare-R'; */
    font-size: 16px;
    text-align: left;
    padding:10px ;
    border-bottom: 2px solid #000000;
}

.popup_area table thead td {
    text-align: right;
    border-bottom: 2px solid #000000;
    
}

.popup_area table tbody th,.popup_area table tbody td{    
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;}

.popup_area table tbody th{background: #eee; font-weight: 500;}
    
.popup_area table tbody th:first-child,.popup_area table tbody td:first-child{
    border-left: 1px solid #dbdbdb;}

a.tbody_more_btn {
    display: inline-block;
    width: 40px;
    height: 20px;
    background: url('../img/svg/down-arrow.svg') no-repeat 50% 50%;
    background-size: 40px 20px;
    transform: rotate(0deg);
}

a.tbody_more_btn:hover {opacity: 0.5;}

.tbody_more_btn.on {transform: rotate(180deg);}

/* modal-popup */
/* dim-layer */
.modalpopup_area {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.modalpopup_area .Bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.modalpopup_area.open {
    display: block;
}

.modalpopup {
    position: relative;
    min-width: 400px;
    max-width: 700px;
    height: auto;
    min-height: 200px;
    max-height: 700px;
    background: #ffffff;
    margin: 50px auto;
    padding: 10px;
}

.tit_contents {
    width: 100%;
    height: 40px;
}

.tit_contents h4.tit {
    display: inline-block;
    font-family: 'nanumgothic-B';
    font-size: 16px;
}

.pop_contents {
    width: 100%;
    height: calc(100% - 80px);
    font-size: 14px;
    padding: 10px 0;
    overflow: auto;
}

.bottom_contents {
    height: 40px;
}

a.btn-layerClose {
    display: inline-block;
    height: 25px;
    padding: 0 14px 0;
    border: 1px solid #304a8a;
    background-color: #3f5a9d;
    font-size: 13px;
    color: #fff;
    line-height: 25px;
}

a.btn-layerClose:hover {
    border: 1px solid #091940;
    background-color: #1f326a;
    color: #fff;
}
